.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notify {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.tab-input {
  display: none;
}

.tab-label {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-input:checked + .tab-label {
  background: #f1f1f1;
}

.tab-bottom {
  font-size: 0.5rem;
  position: absolute;
  bottom: 10px;
  z-index: 100;
}

.float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  cursor: pointer;
}

.float-button:hover {
  background-color: #ccc;
}

@media (max-width: 1800px) {
  .tab-bottom {
    position: sticky;
  }
}

@media (max-width: 1600px) {
  .tab-label {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
  }
  .tab-bottom {
    position: sticky;
  }
}

@media (max-width: 1400px) {
  .tab-label {
    padding: 0.25rem 1rem;
    font-size: 1rem;
  }
  .tab-bottom {
    position: sticky;
  }
}
